<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="MODULE_LOG_DIR" value="${LOGGING_FILE_DIRECTORY}/RemExService/logs"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${MODULE_LOG_DIR}/application.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${MODULE_LOG_DIR}/application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${LOGGING_FILE_MAX_SIZE}</maxFileSize>
            <maxHistory>${LOGGING_FILE_MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>